@model Presentaion.Models.ImageProcessingModel

@{
    ViewData["Title"] = "Home Page";
    string v = DateTime.Now.Ticks.ToString();
}

<div class="text-center">
    <form method="post">
        <input type="file" accept="image/*" onchange="browseImageChange(event);" />
        <br />
        <canvas id="imageCanvas"></canvas>
        <input id="picture" name="picture" value="@Model.picture" type="hidden" />
        <img id="img" src="@(Model.picture + "?v=" + v)" alt="Selected Image" onload="onLoadImage();" style="display: none; max-width: 300px; max-height: 300px;" />
        <br />
        <label>
            Top Left X
            <input id="topLeftX" name="topLeftX" type="number" value="@Model.topLeftX" onchange="onChangeCorners();" />
        </label>
        <label>
            Top Left Y
            <input id="topLeftY" name="topLeftY" type="number" value="@Model.topLeftY" onchange="onChangeCorners();" />
        </label>
        <br />
        <label>
            Top Right X
            <input id="topRightX" name="topRightX" type="number" value="@Model.topRightX" onchange="onChangeCorners();" />
        </label>
        <label>
            Top Right Y
            <input id="topRightY" name="topRightY" type="number" value="@Model.topRightY" onchange="onChangeCorners();" />
        </label>
        <br />
        <label>
            Bottom Left X
            <input id="bottomLeftX" name="bottomLeftX" type="number" value="@Model.bottomLeftX" onchange="onChangeCorners();" />
        </label>
        <label>
            Bottom Left Y
            <input id="bottomLeftY" name="bottomLeftY" type="number" value="@Model.bottomLeftY" onchange="onChangeCorners();" />
        </label>
        <br />
        <label>
            Bottom Right X
            <input id="bottomRightX" name="bottomRightX" type="number" value="@Model.bottomRightX" onchange="onChangeCorners();" />
        </label>
        <label>
            Bottom Right Y
            <input id="bottomRightY" name="bottomRightY" type="number" value="@Model.bottomRightY" onchange="onChangeCorners();" />
        </label>
        <br />
        <input type="submit" value="Process" />
        @if (!string.IsNullOrWhiteSpace(Model.outputPicture))
        {            
            <br />
            <img src="@Model.outputPicture" alt="Output Image" />
            <br />
            <img src="@Model.thresholdedPicture" alt="Thresholded Image" />
        }

    </form>
</div>
<script>
    const canvas = document.getElementById('imageCanvas');
    const topLeftX = document.getElementById('topLeftX');
    const topLeftY = document.getElementById('topLeftY');
    const topRightX = document.getElementById('topRightX');
    const topRightY = document.getElementById('topRightY');
    const bottomLeftX = document.getElementById('bottomLeftX');
    const bottomLeftY = document.getElementById('bottomLeftY');
    const bottomRightX = document.getElementById('bottomRightX');
    const bottomRightY = document.getElementById('bottomRightY');
    const ctx = canvas.getContext('2d');
    const img = document.getElementById('img');
    const picture = document.getElementById('picture');
    function onLoadImage() {
        onChangeCorners();
    }
    function onChangeCorners() {
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);

        // Define corners in percentages (x1, y1, x2, y2)
        const cornerCoords = [
            { x: topLeftX.value, y: topLeftY.value },
            { x: topRightX.value, y: topRightY.value },
            { x: bottomRightX.value, y: bottomRightY.value },
            { x: bottomLeftX.value, y: bottomLeftY.value }
        ];

        // Convert percentage coordinates to pixel values
        const pixelCoords = cornerCoords.map(coord => ({
            x: coord.x * img.width / 100,
            y: coord.y * img.height / 100
        }));

        // Draw lines connecting the corners
        ctx.beginPath();
        ctx.moveTo(pixelCoords[0].x, pixelCoords[0].y);
        for (let i = 1; i < pixelCoords.length; i++) {
            ctx.lineTo(pixelCoords[i].x, pixelCoords[i].y);
        }
        ctx.closePath();
        ctx.strokeStyle = 'red'; // Set line color
        ctx.lineWidth = 10; // Set line width
        ctx.stroke();
    }
    function browseImageChange(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                debugger;
                img.src = e.target.result;
                picture.value = e.target.result;
                //img.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    if (img.src.length > 0) {
        onLoadImage();
    }
</script>